@model ArchentsIT.Models.RaiseTicket
@{
    ViewBag.Title = "AddnewTicket";
    Layout = "~/Views/Shared/ArchentsIT.cshtml";
}
<html>
<head>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
        <script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    @* <script src="~/js/fancyTable.js">
        </script>
        <link href="~/StyleSheets/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="~/js/jquery.min.js"></script>
        <link href="~/StyleSheets/basic.css" rel="stylesheet" />
        <link href="~/StyleSheets/bootstrap.min.css" rel="stylesheet" />
        <script src="~/js/toaster.js"></script>
        <script src="~/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="~/js/bootstrap.min.js" type="text/javascript"></script>*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link href="~/CSS/AddNewTicket.css" rel="stylesheet" />

</head>
<body>
    <div class="mainmina">
        <div>
            <h3 style="margin-left:500px;">Add New Ticket</h3>
        </div>
        <div class="maindiv">
            @using (Html.BeginForm())
            {
                @*@Html.AntiForgeryToken()*@

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h6 style="color:lightcoral">@ViewBag.IsEmailExist</h6>
                    <br />

                    @*  @Html.EditorFor(model => model.TicketNo, new { htmlAttributes = new { @class = "form-control w-50 " } })
                @Html.ValidationMessageFor(model => model.TicketNo, "", new { @class = "text-danger" })*@

                    <div class="form-group">
                        <label id="fname">Issue Type</label>
                        <div class="form-group-lg  " style="position:relative">
                            @Html.DropDownListFor(m => m.Issue_Type, ViewBag.CatList as SelectList, "-- Issue Type--", new { @class = "form-control w-50",@id="IssueTypeId" })
                            <i class="bi bi-caret-down-fill"id="Issue_Type"></i>
                          @*  @Html.ValidationMessageFor(model => model.Issue_Type, "", new { @class = "text-danger" })*@
                          
                            <div id="dvPassport">
                                Approval EmailID:
                                <input type="text" id="txtPassportNumber" name="Approval" class="form-control w-50" />
                            </div>
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <label id="fname">Priority</label>
                        <div class="form-group-lg  " style="position:relative">
                            @* @Html.EditorFor(model => model.Issue_Type, new { htmlAttributes = new { @class = "form-control w-50" } })*@
                            @Html.DropDownListFor(m => m.priarity, ViewBag.Priarity as SelectList, "-- Select Priority--", new { @class = "form-control w-50" })
                            <i class="bi bi-caret-down-fill"></i>
                            @Html.ValidationMessageFor(model => model.Issue_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*
                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control w-50" } })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@



                    <div class="form-group">
                        @*  @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Assigned Person</label>
                        <div class="form-group-lg ">
                            <input type="text" value="@ViewBag.Admin" name="Assigned_Person" class="form-control  w-50 h-25" readonly />
                            @* @Html.EditorFor(model => model.Assigned_Person, new { htmlAttributes = new { @class = "form-control w-50" } })*@
                            @Html.ValidationMessageFor(model => model.Assigned_Person, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @* @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Description</label>
                        <div class="form-group-lg">
                            @*  @Html.TextAreaFor(model => model.Query, new { htmlAttributes = new { @class = "form-control w-50" } })*@
                            <textarea class="form-control w-50" cols="25" id="Description" name="Query" rows="3"></textarea>
                            @Html.ValidationMessageFor(model => model.Query, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @* @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Employee Id</label>
                        <div class="form-group-lg">
                            @*  @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control w-50 h-25" } })*@
                            <input type="text" value="@ViewBag.NewTicket" name="EmployeeID" class="form-control  w-50 h-25" readonly />
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div style="display:flex;">
                        <div class="form-group" style="margin-top:20px;">
                            <input type="submit" class="btn btn-success" value="Send" id="btn12" style="border-radius:20px;width:100px;" />
                        </div>
                        <div style="margin-top:20px; margin-left:320px;">
                            <a href="~/UserRegister/GetEmployeeRecords" class="btn btn-primary" style="border-radius:15px;width:100px;">Back</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
   <script type="text/javascript">
       $(document).ready(function () {
           $("#dvPassport").hide();
           $("#IssueTypeId").change(function () {
               var text = $("#IssueTypeId option:selected").text();
               if (text == "New Laptop") {
                   $("#dvPassport").show();
               }
               else {
                   $("#dvPassport").hide();
               }
           })
       })
   </script>
</body>
</html>

