@model  ArchentsIT.Models.UserRegister
@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/ArchentsIT.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRegister</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- jQuery library -->
   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>*@

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        *{
            height:auto;
          margin:0;
          padding:0;
        }
        .form-group {
            margin: 15px;
        }

        p {
            font-size: 3vw;
        }

        .main {
            margin-left: 430px;
            margin-bottom:150px;
            
        }
        #btn12 {
            background-color: black;
            border-radius: 20px;
        }

        #CreateButton {
            margin-left: 0px;
        }

        #homeAndCreateLink {
            margin-left: 5px;
            margin-bottom: 50px;
        }
      

        #FirstName {
            color: black;
        }

        #FirstName {
            border-color: black;
        }

        #LastName {
            border-color: black;
        }

        #Email {
            border-color: black;
            font-size:1em;
        }

        #Designation {
            border-color: black;
        }

        #Phone_Number {
            border-color: black;
        }
       /* #fname{
            font-size:1.5em;
        }*/
      /*  #btn12{
            font-size:1.5em;
        }*/
      
      body{
         color:#000000;
      }
    </style>
</head>
<body>
    <div class="">

        <div id="homeAndCreateLink" style=" background-color:#EFEFEF;">
          @*  @Html.ActionLink("Home/", "Home", "Home", new { style = "text-decoration:none; color:#686363" })
            @Html.ActionLink("Create An Account", "Home", "Home", new { style = "text-decoration:none; color:#686363" })*@

        </div>
       
        <div class="main">
            <h3 style="margin-left:10px;" id="p1">Create an Account</h3>
            @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
            {
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong>@ViewBag.Message
                        @*  swal("Good job!", "You clicked the button!", "success");*@
                    </div>
                }
            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h6 style="color:lightcoral">@ViewBag.IsEmailExist</h6>
                    <br />
                    <div class="form-group">

                        @* @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">FirstName</label>
                        <div class="form-group-lg">
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control w-50 " } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">LastName</label>
                        <div class="form-group-lg  ">
                            @Html.EditorFor(model =>model.LastName, new { htmlAttributes = new { @class = "form-control w-50" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*  @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Email</label>
                        <div class="form-group-lg ">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control w-50" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @*  @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Designation</label>
                        <div class="form-group-lg ">
                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control w-50" } })
                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                    <div class="form-group-lg ">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control w-50", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                    <div class="form-group">
                        @* @Html.LabelFor(model => model.Phone_Number, htmlAttributes: new { @class = "control-label " })*@
                        <label id="fname">Phone_Number</label>
                        <div class="form-group-lg">
                            @Html.EditorFor(model =>model.Phone_Number, new { htmlAttributes = new { @class = "form-control w-50" } })
                            @Html.ValidationMessageFor(model => model.Phone_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Create an Account" id="btn12" />
                    </div>
                </div>
            }

            <div id="CreateButton">

                <h5 style="margin-left:15px;">@Html.ActionLink("Already a Member? Sign in here", "Login", "UserRegister", new { style = "text-decoration:none; color:black" })</h5>
            </div>
        </div>
    </div>
</body>
</html>


